<div class="container" style="text-align:center">
  <div class="col-md-12" style="font-size:22px">All Cards</div>
  <br><br><br><br>
</div>
<div class="row" style="text-align:center">

  <div class="col-md-4" [ngClass]="getGameElement(i)" *ngFor="let data of mapped; let i=index">

    
    <div class="panel panel-default">

      <h3 class="panel-heading">{{data.type | uppercase}}</h3>
      <div class="panel-body">
        <ul>
          <li *ngFor="let metaData of data.data | orderBy" (click)="getCategoryDetails(metaData)">

            <a>{{metaData.name}}</a>

          </li>
        </ul>
      </div>

    </div>

  </div>
  </div>
  