<table *ngIf="fetchDetail">
  <tr>
    <th>Name: </th>
    <td>{{fetchDetail.name}}</td>
  </tr>
  <tr>
    <th>Authors: </th>
    <td>{{fetchDetail.authors}}</td>
  </tr>
  <tr>
    <th>Country: </th>
    <td>{{fetchDetail.country}}</td>
  </tr>
  <tr>
    <th>Publisher: </th>
    <td>{{fetchDetail.publisher}}</td>
  </tr>
  <tr>
    <th>Media: </th>
    <td>{{fetchDetail.mediaType}}</td>
  </tr>
  <tr>
    <th>
      Released:
    </th>
    <td>{{fetchDetail.released}}</td>
  </tr>
  <tr>
      <th>
          Region:
      </th>
      <td>{{fetchDetail.region}}</td>
    </tr>
    <tr>
        <th>
            Words:
        </th>
        <td>{{fetchDetail.words}}</td>
      </tr>
      <tr>
          <th>
              CoatOfArms:
          </th>
          <td>{{fetchDetail.coatOfArms}}</td>
        </tr>
        <tr>
            <th>
                Founded:
            </th>
            <td>{{fetchDetail.founded}}</td>
          </tr>

          <tr>
              <th>
                  Culture:
              </th>
              <td>{{fetchDetail.culture}}</td>
            </tr>
            <tr>
                <th>
                    Gender:
                </th>
                <td>{{fetchDetail.gender}}</td>
              </tr>
</table>